@media (max-width: 1100px){

    :root {
        --color-bg: rgb(5, 18, 22);
        --color-neon: rgba(66, 255, 239, 0.984);
      }
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: monospace;
        scroll-behavior: smooth;
    }
    body
    {
        min-height: 100vh;
        overflow-x: hidden;
        background: linear-gradient(#2b1055,#7597de);
    
    }
    header
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 20;
    }
    header .logo
    {
        color:#fff;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    header ul
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header ul li
    {
        list-style: none;
        margin-left: 20px;
    }
    header ul li a
    {
        text-decoration: none;
        padding: 6px 15px;
        color: #fff;
        border-radius: 20px;
    }
    header ul li a:hover{
         background-color: white;
         color: rgb(101, 7, 253);
         transition: .3s;
    }
    header ul li a.active
    {
        background:rgb(255, 255, 255);
        color: #2b1055;
    }
    section
    {
        position: relative;
        width: 100%;
        height: 520px;
        padding: 100px;
        display:flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
    }
    section::before
    {
       content: '';
       position: absolute;
       bottom: 0;
       width: 100%;
       height: 100px;
       background: linear-gradient(to top,rgba(66, 255, 239, 0.984),transparent);
       z-index: 20;
    }
    section img
    {
        
        top: 0;
        left: 0;
        bottom: 0;
        pointer-events: none;
    }
    section img#moon
    {
       mix-blend-mode:screen;
       width: 20%;
       margin-left: 40.5%;
    }
    section img#mountains_front
    {
        z-index: 10;
    }
    #text
    {
        position: absolute;
        color: #2be6b7;
        white-space: nowrap;
        font-size: 7.5vw;
        z-index: 9;
        text-shadow: 0 0 0.1em hsl(0, 0%, 100%), 0 0 0.5em currentColor;
    }
    #btn
    {
        text-decoration: none;
        display: inline-block ;
        padding: 0.25em 1em;
        border-radius: 1em;
        background: #fff;
        color: var(--color-neon);
        background: var(--color-bg);
        border: var(--color-neon) 4px solid;
        font-size: 1.5em;
        z-index: 9;
        transform: translateY(100px) ; 
        letter-spacing: 1px;  
        text-shadow: 0 0 0.1em hsl(0, 0%, 100%), 0 0 0.5em currentColor;
        box-shadow: inset 0 0 0.5em 0 var(--color-neon), 0 0 0.5em 0 var(--color-neon);
      
        transition: background 100ms linear;
      position: relative;
      width: 20%;
     
    }
    #btn::before {
        content: "";
        pointer-events: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 140%;
        left: 0;
        text-align: center;
        
      }
      #btn::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 2em 0.5em var(--color-neon);
        transition: opacity 100ms linear;
        opacity: 0;
        -webkit-transition: opacity 100ms linear;
        -moz-transition: opacity 100ms linear;
        -ms-transition: opacity 100ms linear;
        -o-transition: opacity 100ms linear;
      }
      #btn:hover {
        text-shadow: 0;
      }
      #btn:hover::before {
        opacity: 1;
      }
     #btn:hover::after {
        opacity: 1;
      }
 
    .img2{
        margin-left: 300px;
    }
    .Frontline {
        z-index: 10;
        mix-blend-mode: overlay;
    }
    .Frontline1 {
        z-index: 10;
        mix-blend-mode: soft-light;
    }
    
    section img#mountains_front1
    {
        z-index: 9;
    }

    
      .txt{
        margin-left: 5%;
        margin-right: 20px;
      }
      .txt h1{
        font-size: 50px;
      }
      .txt p{
        font-size: 30px;
        margin-left: 20px;
      }
     
      
    
      .txt1{
        margin-left: 5%;
      }
      .txt1 h1{
        font-size: 50px;
      }
      .txt1 p{
        font-size: 30px;
        margin-left: 20px;
      }
    
    button{
      position: absolute;
      top: 150%;
      left: 15%;
      width: 150px;
      height: 70px;
      margin: -100px 0 0 ;
      text-align: center;
      border-radius: 8px;
      border: 3px solid rgb(0, 40, 70);
      cursor: pointer;
      background-color: #1c0522;
      
    }
    button:hover {
        animation: border-flicker 2s linear forwards;
      }
      
     button h2 {
        font-weight: 1000;
        font-size:20px;
        color: rgba(120, 0, 50, .5);
      }
      
      button:hover h2 {
        animation: text-flicker 2s linear forwards;
      }
      
      button:hover .first {
        animation: letter-flicker 3s linear infinite;
      }
    #btn2{
      position: absolute;
      top: 180%;
      left: 18%;
      width: 150px;
      height: 70px;
      margin: -90px 0 0 ;
      text-align: center;
      border-radius: 8px;
      border: 3px solid rgb(0, 40, 70);
      cursor: pointer;
      text-decoration: none;
      display: inline-block ;
      background-color: #1c0522;
          font-weight: 1000;
          font-size:13px;
          color: rgba(120, 0, 50, .5);
          padding-top: 1px;
            
      }
      #btn3{
        position: absolute;
        top: 160%;
        left: 18%;
        width: 150px;
        height: 70px;
        margin: -90px 0 0 ;
        text-align: center;
        border-radius: 8px;
        border: 3px solid rgb(0, 40, 70);
        cursor: pointer;
        text-decoration: none;
        display: inline-block ;
        background-color: #1c0522;
            font-weight: 1000;
            font-size:13px;
            color: rgba(120, 0, 50, .5);
            padding-top: 1px;
      }
        .overlay {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 21;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-x: hidden;
            transition: 0.1s;
          }
          
          .overlay-content {
            position: relative;
            top: 10%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
          }
          
          .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.1s;
          }
          
          .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
          }
    .overlay .closebtn {
            position: absolute;
            top: 35%;
            font-size: 60px;
           width: 80%;
           left: 9.5%;
           cursor: pointer;
           
          }
          .overlay .closebtn:hover{
            box-shadow: 0 0 1em 0 var(--color-neon);
            transition: 0.1s;
        }
        .text {
          color: black;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
        }
        .sec3
        {
            
            position: relative;
            padding: 0px;
            background: #1c0522;
        }
        .sec3 img{
          z-index:15; 
        }
        .sec3 img:hover{
          filter: blur(8px);
          -webkit-filter: blur(8px);
        }
        .sec3 h2
        {
         font-size: 2em;
         margin-bottom: 10px;
         color: white;
         
        }
        .sec3 p
        {
            font-size: 15px;
            color: white;
        }
        

}
@media (max-width: 414px){

  :root {
      --color-bg: rgb(5, 18, 22);
      --color-neon: rgba(66, 255, 239, 0.984);
    }
  *
  {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: monospace;
      scroll-behavior: smooth;
  }
  body
  {
      min-height: 100vh;
      overflow-x: hidden;
      background: linear-gradient(#2b1055,#7597de);
  
  }
  section
  {
      position: relative;
      
      width: 100%;
      height: 30vh;
      padding: 100px;
      display:flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-top: 210px;
      
  }
  section::before
  {
     content: '';
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 100px;
     background: linear-gradient(to top,rgba(66, 255, 239, 0.984),transparent);
     z-index: 20;
  }
  section img
  {
      
      top: 0;
      left: 0;
      bottom: 0;
      pointer-events: none;
  }
  section img#moon
  {
     mix-blend-mode:screen;
     width: 20%;
     margin-left: 40.5%;
  }
  section img#mountains_front
  {
      z-index: 10;
  }
  #text
  {
      position: absolute;
      color: #2be6b7;
      white-space: nowrap;
      font-size: 7.5vw;
      z-index: 9;
      text-shadow: 0 0 0.1em hsl(0, 0%, 100%), 0 0 0.5em currentColor;
  }
  #btn
  {
      text-decoration: none;
      display: inline-block ;
      padding: 0.25em 1em;
      border-radius: 1em;
      background: #fff;
      color: var(--color-neon);
      background: var(--color-bg);
      border: var(--color-neon) 4px solid;
      font-size: 1em;
      z-index: 9;
      transform: translateY(100px) ; 
      letter-spacing: 1px;  
      text-shadow: 0 0 0.1em hsl(0, 0%, 100%), 0 0 0.5em currentColor;
      box-shadow: inset 0 0 0.5em 0 var(--color-neon), 0 0 0.5em 0 var(--color-neon);
      text-align: center;
      transition: background 100ms linear;
      position: relative;
      width: 40%;
      margin-top: -100px;
   
  }
  #btn::before {
      content: "";
      pointer-events: none;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 140%;
      left: 0;
      text-align: center;
      
    }
    #btn::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: 0 0 2em 0.5em var(--color-neon);
      transition: opacity 100ms linear;
      opacity: 0;
      -webkit-transition: opacity 100ms linear;
      -moz-transition: opacity 100ms linear;
      -ms-transition: opacity 100ms linear;
      -o-transition: opacity 100ms linear;
      
    }
    #btn:hover {
      text-shadow: 0;
    }
    #btn:hover::before {
      opacity: 1;
    }
   #btn:hover::after {
      opacity: 1;
    }

  .img2{
      margin-left: 300px;
  }
  .Frontline {
      z-index: 10;
      mix-blend-mode: overlay;
  }
  .Frontline1 {
      z-index: 10;
      mix-blend-mode: soft-light;
  }
  
  section img#mountains_front1
  {
      z-index: 9;
  }


  
  button{
    position: absolute;
    top: 190%;
    left: 5%;
    width: 70px;
    height: 20px;
    margin: -100px 0 0 ;
    text-align: center;
    border-radius: 8px;
    border: 3px solid rgb(0, 40, 70);
    cursor: pointer;
    background-color: #1c0522;
    
  }
 
    
   button h2 {
      font-weight: 1000;
      font-size:20px;
      color: rgba(120, 0, 50, .5);
    }
 
  #btn2{
    position: absolute;
    top: 230%;
    left: 13%;
    width: 70px;
    height: 20px;
    margin: -90px 0 0 ;
    text-align: center;
    border-radius: 8px;
    border: 3px solid rgb(0, 40, 70);
    cursor: pointer;
    text-decoration: none;
    display: inline-block ;
    background-color: #1c0522;
        font-weight: 1000;
        font-size:13px;
        color: rgba(120, 0, 50, .5);
        padding-top: 1px;
          
    }
    #btn3{
      position: absolute;
    top: 200%;
    left: 13%;
    width: 70px;
    height: 20px;
    margin: -90px 0 0 ;
    text-align: center;
    border-radius: 8px;
    border: 3px solid rgb(0, 40, 70);
    cursor: pointer;
    text-decoration: none;
    display: inline-block ;
    background-color: #1c0522;
        font-weight: 1000;
        font-size:13px;
        color: rgba(120, 0, 50, .5);
        padding-top: 1px;
    }
      .overlay {
          height: 0%;
          width: 100%;
          position: fixed;
          z-index: 21;
          top: 0;
          left: 0;
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0, 0.9);
          overflow-x: hidden;
          transition: 0.1s;
        }
        
        .overlay-content {
          position: relative;
          top: 10%;
          width: 100%;
          text-align: center;
          margin-top: 30px;
        }
        
        .overlay a {
          padding: 8px;
          text-decoration: none;
          font-size: 36px;
          color: #818181;
          display: block;
          transition: 0.1s;
        }
        
        .overlay a:hover, .overlay a:focus {
          color: #f1f1f1;
        }
  .overlay .closebtn {
          position: absolute;
          top: 35%;
          font-size: 60px;
         width: 80%;
         left: 9.5%;
         cursor: pointer;
         
        }
        .overlay .closebtn:hover{
          box-shadow: 0 0 1em 0 var(--color-neon);
          transition: 0.1s;
      }
      .text {
        color: black;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .sec3
      {
          
          position: relative;
          padding: 0px;
          background: #1c0522;
      }
      .sec3 img{
        z-index:15; 
      }
      .sec3 img:hover{
        filter: blur(8px);
        -webkit-filter: blur(8px);
      }
      .sec3 h2
      {
       font-size: 0.75em;
       margin-bottom: 10px;
       color: white;
       
      }
      .sec3 p
      {
          font-size: 7px;
          color: white;
      }
      

}
@media (max-width: 360px){

  :root {
      --color-bg: rgb(5, 18, 22);
      --color-neon: rgba(66, 255, 239, 0.984);
    }
  *
  {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: monospace;
      scroll-behavior: smooth;
  }
  body
  {
      min-height: 100vh;
      overflow-x: hidden;
      background: linear-gradient(#2b1055,#7597de);
  
  }
  section
  {
      position: relative;
      
      width: 100%;
      height: 30vh;
      padding: 100px;
      display:flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-top: 200px;
      
  }
  section::before
  {
     content: '';
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 100px;
     background: linear-gradient(to top,rgba(66, 255, 239, 0.984),transparent);
     z-index: 20;
  }
  section img
  {
      
      top: 0;
      left: 0;
      bottom: 0;
      pointer-events: none;
  }
  section img#moon
  {
     mix-blend-mode:screen;
     width: 20%;
     margin-left: 40.5%;
  }
  section img#mountains_front
  {
      z-index: 10;
  }
  #text
  {
      position: absolute;
      color: #2be6b7;
      white-space: nowrap;
      font-size: 7.5vw;
      z-index: 9;
      text-shadow: 0 0 0.1em hsl(0, 0%, 100%), 0 0 0.5em currentColor;
  }
  #btn
  {
      text-decoration: none;
      display: inline-block ;
      padding: 0.2em 0.8em;
      border-radius: 1em;
      background: #fff;
      color: var(--color-neon);
      background: var(--color-bg);
      border: var(--color-neon) 4px solid;
      font-size: 0.75em;
      z-index: 9;
      transform: translateY(100px) ; 
      letter-spacing: 1px;  
      text-shadow: 0 0 0.1em hsl(0, 0%, 100%), 0 0 0.5em currentColor;
      box-shadow: inset 0 0 0.5em 0 var(--color-neon), 0 0 0.5em 0 var(--color-neon);
      text-align: center;
      transition: background 100ms linear;
      position: relative;
      width: 50%;
      margin-top: -100px;
      text-align: center;
   
  }
  #btn::before {
      content: "";
      pointer-events: none;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 140%;
      left: 0;
      text-align: center;
      
    }
    #btn::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: 0 0 2em 0.5em var(--color-neon);
      transition: opacity 100ms linear;
      opacity: 0;
      -webkit-transition: opacity 100ms linear;
      -moz-transition: opacity 100ms linear;
      -ms-transition: opacity 100ms linear;
      -o-transition: opacity 100ms linear;
      
    }
    #btn:hover {
      text-shadow: 0;
    }
    #btn:hover::before {
      opacity: 1;
    }
   #btn:hover::after {
      opacity: 1;
    }

  .img2{
      margin-left: 300px;
  }
  .Frontline {
      z-index: 10;
      mix-blend-mode: overlay;
  }
  .Frontline1 {
      z-index: 10;
      mix-blend-mode: soft-light;
  }
  
  section img#mountains_front1
  {
      z-index: 9;
  }


  
  button{
    position: absolute;
    top: 225%;
    left: 2%;
    width: 70px;
    height: 20px;
    margin: -100px 0 0 ;
    text-align: center;
    border-radius: 8px;
    border: 3px solid rgb(0, 40, 70);
    cursor: pointer;
    background-color: #1c0522;
    
  }
 
    
   button h2 {
      font-weight: 1000;
      font-size:20px;
      color: rgba(120, 0, 50, .5);
    }
 
  #btn2{
    position: absolute;
    top: 270%;
    left: 9%;
    width: 70px;
    height: 20px;
    margin: -90px 0 0 ;
    text-align: center;
    border-radius: 8px;
    border: 3px solid rgb(0, 40, 70);
    cursor: pointer;
    text-decoration: none;
    display: inline-block ;
    background-color: #1c0522;
        font-weight: 1000;
        font-size:13px;
        color: rgba(120, 0, 50, .5);
        padding-top: 1px;
          
    }
    #btn3{
      position: absolute;
    top: 250%;
    left: 13%;
    width: 70px;
    height: 20px;
    margin: -90px 0 0 ;
    text-align: center;
    border-radius: 8px;
    border: 3px solid rgb(0, 40, 70);
    cursor: pointer;
    text-decoration: none;
    display: inline-block ;
    background-color: #1c0522;
        font-weight: 1000;
        font-size:13px;
        color: rgba(120, 0, 50, .5);
        padding-top: 1px;
    }
      .overlay {
          height: 0%;
          width: 100%;
          position: fixed;
          z-index: 21;
          top: 0;
          left: 0;
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0, 0.9);
          overflow-x: hidden;
          transition: 0.1s;
        }
        
        .overlay-content {
          position: relative;
          top: 10%;
          width: 100%;
          text-align: center;
          margin-top: 30px;
        }
        
        .overlay a {
          padding: 8px;
          text-decoration: none;
          font-size: 36px;
          color: #818181;
          display: block;
          transition: 0.1s;
        }
        
        .overlay a:hover, .overlay a:focus {
          color: #f1f1f1;
        }
  .overlay .closebtn {
          position: absolute;
          top: 35%;
          font-size: 60px;
         width: 80%;
         left: 9.5%;
         cursor: pointer;
         
        }
        .overlay .closebtn:hover{
          box-shadow: 0 0 1em 0 var(--color-neon);
          transition: 0.1s;
      }
      .text {
        color: black;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .sec3
      {
          
          position: relative;
          padding: 0px;
          background: #1c0522;
      }
      .sec3 img{
        z-index:15; 
      }
      .sec3 img:hover{
        filter: blur(8px);
        -webkit-filter: blur(8px);
      }
      .sec3 h2
      {
       font-size: 0.7em;
       margin-bottom: 10px;
       color: white;
       
      }
      .sec3 p
      {
          font-size: 5px;
          color: white;
      }
      
    }